{block content}
<h1 n:block=title>{_'Page Not Found'}</h1>

<p>{_'The page you requested has been taken off the site. We apologize for the inconvenience.'}</p>

<p><small>{_'error %errorNumber%', array('errorNumber' => \Nette\Http\IResponse::S410_GONE)}</small></p>
{/block}