<!DOCTYPE html>
<html lang="{=$control->getTranslator()->getLocale()}">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="{_'Interitty project website'}">
        <meta name="author" content="Pavel Železný <pavel.zelezny@interitty.org>">
        <meta name="robots" content="index,follow">
        <meta name="geo.country" content="CZ">
        <meta name="resource-type" content="document">
        <link rel="index" href="{$baseUrl}" type="text/html">
        <link rel="shortcut icon" href="{$baseUrl}/favicon.ico" type="image/x-icon">
        <title>{ifset title}{include title|stripHtml} | {/ifset}{_'Interitty'}</title>
        <link rel="stylesheet" href="{assets css/interitty.css}">
    </head>

    <body>
        <header>
            <div>
                <h1>{_'Interitty'}</h1>
            </div>
        </header>
        <main>
            <div n:foreach="$flashes as $flash" n:class="flash, $flash->type">
                {_$flash->message, $flash->parameters}
            </div>

            {include content}
        </main>
        <footer n:ifset="footer">
            {include footer}
        </footer>
        {block scripts}
        <script src="{assets js/interitty.js}"></script>
        {/block}
    </body>
</html>
