application:
    errorPresenter: 'Error'
    scanDirs: false
    mapping:
        *: 'Interitty\Website\*Module\Presenters\*Presenter'

extensions:
    translation: Contributte\Translation\DI\TranslationExtension

includes:
    - router.neon
    - config.local.neon

parameters:

php:
    date.timezone: 'Europe/Prague'

session:
    expiration: '14 days'

services:

tracy:
    strictMode: true

translation:
    locales:
        whitelist: [cs, en]
        default: cs
        fallback: [cs]
    dirs:
        - %appDir%/Lang
    localeResolvers:
        - Contributte\Translation\LocalesResolvers\Header
        - Contributte\Translation\LocalesResolvers\Parameter

